@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel:wght@500&family=Pathway+Gothic+One&display=swap");

body,
.card {
  background: rgb(125, 195, 206);
  background: -moz-linear-gradient(
    90deg,
    rgba(125, 195, 206, 1) 0%,
    rgba(197, 235, 226, 1) 40%,
    rgba(248, 252, 242, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(125, 195, 206, 1) 0%,
    rgba(197, 235, 226, 1) 40%,
    rgba(248, 252, 242, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(125, 195, 206, 1) 0%,
    rgba(197, 235, 226, 1) 40%,
    rgba(248, 252, 242, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7dc3ce",endColorstr="#f8fcf2",GradientType=1);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  font-family: "Amatic SC", cursive;
  font-size: 4.5rem;
  color: #e63946 !important;
  background: rgb(125, 195, 206);
  background: -moz-linear-gradient(
    90deg,
    rgba(125, 195, 206, 1) 0%,
    rgba(197, 235, 226, 1) 40%,
    rgba(248, 252, 242, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(125, 195, 206, 1) 0%,
    rgba(197, 235, 226, 1) 40%,
    rgba(248, 252, 242, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(125, 195, 206, 1) 0%,
    rgba(197, 235, 226, 1) 40%,
    rgba(248, 252, 242, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7dc3ce",endColorstr="#f8fcf2",GradientType=1);
}
.card {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.card-title {
  color: #e63946 !important;
  font-family: "Cinzel", serif;
  font-size: 1.6rem;
}
.card-text {
  font-family: "Pathway Gothic One", sans-serif;
  color: #1d3557;
  font-weight: 600;
}
